In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.feature_selection import f_regression
sns.set()
from sklearn.linear_model import LinearRegression

In [2]:
url = 'https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.csv'
df = pd.read_csv(url)
df.describe(include='all')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<1H OCEAN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9136
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909,NaN
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874,NaN
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000,NaN
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000,NaN
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000,NaN
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000,NaN
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000,NaN

In [3]:
x

NameError: name 'x' is not defined

In [ ]:
df_dummies = pd.get_dummies(x)
df_dummies

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(df_dummies, y, test_size=0.2, random_state=42)
df_new = df_dummies.dropna(axis=1)
df_new.isnull().sum()

In [ ]:
df_new

In [ ]:
#model = LinearRegression()
#model.fit(x_train, y_train)

# Avaliar o modelo
#y_pred = model.predict(x_test)
#mse = mean_squared_error(y_test, y_pred)
#r2 = r2_score(y_test, y_pred)

Outliers: median_income

In [ ]:
sns.displot(df_new['total_rooms'], kde=True)

In [ ]:
from scipy.stats import boxcox

In [ ]:
df_new['total_rooms_log'], _ = boxcox(df_new['total_rooms'])

In [ ]:
sns.displot(df_new['total_rooms_log'], kde=True)

In [ ]:
df_room_log = df_new.drop(['total_rooms'],axis=1)

In [ ]:
sns.displot(df_room_log['population'], kde=True)

In [ ]:
df_room_log['population_log'], _= boxcox(df_room_log['population'])

In [ ]:
sns.displot(df_room_log['population_log'], kde=True)

In [ ]:
df_pop_log = df_room_log.drop(['population'],axis = 1)

In [ ]:
df_pop_log

In [ ]:
sns.displot(df_room_log['households'], kde=True)

In [ ]:
df_room_log['households_log'], _ = boxcox(df_room_log['households'])

In [ ]:
sns.displot(df_room_log['households_log'], kde=True)

In [ ]:
df_house_log = df_room_log.drop(['households'],axis = 1)
df_house_log

In [ ]:
sns.displot(df_house_log['population'], kde=True)

In [ ]:
df_house_log['population_log'], _ = boxcox(df_house_log['population'])

In [ ]:
sns.displot(df_house_log['population_log'], kde=True)

In [ ]:
reg = LinearRegression()

In [ ]:
plt.scatter(y,df_house_log['population_log'])
plt.xlabel('population')
plt.ylabel('price')

In [ ]:
y = np.log(y)

In [ ]:
plt.scatter(y,df_house_log['population_log'])
plt.xlabel('population')
plt.ylabel('price')

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
scaler.fit(df_house_log)
x_scaled = scaler.transform(df_house_log)
X_train, X_test, Y_train, Y_test = train_test_split(x_scaled, y, test_size=0.25, random_state=365)

In [ ]:
# Create a linear regression object
reg = LinearRegression()
# Fit the regression with the scaled TRAIN inputs and targets
reg.fit(X_train,Y_train)

In [ ]:
plt.figure(figsize=(8, 6))
plt.scatter(X_train, Y_train, label='Dados de treinamento')
plt.xlabel('Variável independente')
plt.ylabel('Variável dependente')
plt.title('Gráfico dos dados de teste e treinamento')
plt.legend()
plt.grid()
plt.show()

In [ ]:
y_hat = reg.predict(X_train)

In [ ]:
# The simplest way to compare the targets (y_train) and the predictions (y_hat) is to plot them on a scatter plot
# The closer the points to the 45-degree line, the better the prediction
plt.scatter(Y_train, y_hat)
# Let's also name the axes
plt.xlabel('Targets (y_train)',size=18)
plt.ylabel('Predictions (y_hat)',size=18)
# Sometimes the plot will have different scales of the x-axis and the y-axis
# This is an issue as we won't be able to interpret the '45-degree line'
# We want the x-axis and the y-axis to be the same
plt.xlim(6,13)
plt.ylim(6,13)
plt.show()